.author {
  margin-top: 34px;
}

.author__name {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .author__name {
    margin-top: 9px;
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .author__name {
    font-size: 17px;
  }
}

.author__nickname {
  margin-top: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
