.button-of-main {
  width: 100%;
  padding: 16px 0;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text_button;
  cursor: pointer;
  background: none;
  border: 2px solid $basic-gray;

  &:hover {
    span {
      color: $basic-white;
    }

    background: $basic-gray;
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }

  &--catalog {
    margin-bottom: 39px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 0;
    padding-left: 0;
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .button-of-main {
    font-size: 17px;
  }
}
