.checkbox + label svg {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -10px;
  width: 52px;
  height: 52px;

  .checkbox-svg__check {
    display: none;
  }

  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    top: -15px;
    width: 52px;
    height: 52px;
  }
}

.checkbox:checked + label svg {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -10px;
  width: 38px;
  height: 38px;

  .checkbox-svg__check {
    display: block;
  }

  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    top: -15px;
    width: 52px;
    height: 52px;
  }
}

.checkbox + label:hover svg {
  .checkbox-svg__square {
    stroke: #62d1ba;
  }
}

.checkbox + label:active svg {
  .checkbox-svg__square {
    stroke: #b3b3b3;
  }
}
