.e-mail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.e-mail__type-of-contact {
  width: 29%;
}

.e-mail__contact {
  color: $basic-gray;
  border-bottom: 1px solid $bright-green;
  width: 71%;

  &:hover {
    color: $special-dark-green;
    border-bottom: 1px solid $special-dark-green;
  }

  &:active {
    border-bottom: 1px solid $pale-green;
  }
}
