.label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &--radio {
    padding-left: 69px;
  }

  &--checkbox {
    padding-left: 69px;
  }
}

@media (min-width: 768px) {
  .label {
    font-size: 19px;
  }
}
