.label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &--checkbox {
    padding-left: 60px;

    @media (min-width: 768px) {
      padding-left: 82px;
    }
  }
}

@media (min-width: 768px) {
  .label {
    font-size: 19px;
  }
}
