.legend {
  position: relative;
  margin: 0;
  color: $basic-light-green;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    left: 60px;
    top: 41.666%;
    width: 200px;
    height: 1px;
    background-color: $bright-green;

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 1150px) {
    padding-left: 61px;
    max-width: 175px;
  }
}

.legend--e-mail {
  &::before {
    width: 182px;
    left: 78px;
  }
}

@media (min-width: 768px) {
  .legend {
    flex: 0 1 25%;
  }
}

@media (min-width: 1150px) {
  .legend {
    flex: 0 1 17%;
  }
}
