.legend {
  color: $basic-light-green;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .legend {
    flex: 0 1 25%;
  }
}

@media (min-width: 1150px) {
  .legend {
    flex: 0 1 17%;
  }
}
