.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $text_color;
}

.nav__link {
  color: $text_color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
