.product__price {
  margin: 0;
  padding: 0 34px 0 26px;
  color: $text_color;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.product__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
