.radio + label svg {
  cursor: pointer;

  .radio-svg__green-dot {
    display: none;
  }

  position: absolute;
  left: -60px;
  bottom: 0;
  width: 42px;
  height: 42px;

  @media (min-width: 346px) {
    bottom: -10px;
  }

  @media (min-width: 768px) {
    bottom: -15px;
    left: -77px;
    width: 52px;
    height: 52px;
  }

  @media (min-width: 1150px) {
    left: -83px;
  }
}
.radio + label:hover svg {
.radio-svg__circle{
  stroke: #62D1BA;
}
}
.radio + label:active svg {
.radio-svg__circle{
  stroke: #B3B3B3;
}
}

.radio:checked + label svg {
  cursor: pointer;

  .radio-svg__green-dot {
    display: block;
    }


  position: absolute;
  left: -60px;
  bottom: 0;
  width: 42px;
  height: 42px;

  @media (min-width: 346px) {
    bottom: -10px;
  }

  @media (min-width: 768px) {
    bottom: -15px;
    left: -77px;
    width: 52px;
    height: 52px;
  }

  @media (min-width: 1150px) {
    left: -83px;
  }
}

.radio--children-toy + label svg {
  cursor: pointer;

  .radio-svg__green-dot {
    display: none;
  }

  position: absolute;
  left: -60px;
  bottom: -10px;
  width: 42px;
  height: 42px;

  @media (min-width: 768px) {
    bottom: -15px;
    left: -77px;
    width: 52px;
    height: 52px;
  }

  @media (min-width: 1150px) {
    left: -83px;
  }
}

.radio--children-toy:checked + label svg {
  cursor: pointer;

  .radio-svg__green-dot {
    display: block;
  }

  position: absolute;
  left: -60px;
  bottom: -10px;
  width: 42px;
  height: 42px;

  @media (min-width: 768px) {
    bottom: -15px;
    left: -77px;
    width: 52px;
    height: 52px;
  }

  @media (min-width: 1150px) {
    left: -83px;
  }
}
