.social {
  margin-top: 5px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social__list {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  margin: 0;
}

@media (min-width: 768px) {
  .social__item {
    margin: 0 20px;
  }
}

@media (min-width: 768px) {
  .social__list {
    padding: 0;
  }

  .social li:last-child {
    margin-right: 8px;
  }
}
