.types-of-products {
  background-image: url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.types-of-products__item {
  &--light-green-background {
    background-color: $basic-ligh-green;
  }

  &--dark-green-background {
    background-color: $basic-dark-green;
  }
}
.types-of-products__title{
  font-weight: 700;
  font-size: 27px;
  line-height: 30;
}
.types-of-products__link{
  font-weight: 700;
  font-size: 19px;
  line-height: 24;
  color: $basic-white;
}
