.footer {
  min-width: 320px;
  max-height: 160px;
  flex: 0 0 auto;
  background-color: $background_footer;
}

@media (min-width: 768px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__img {
  @media (max-width: 767px) {
    /* Позиционирование */
    position: absolute;
    clip: rect(0 0 0 0);
    /* Блочная модель */
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  @media (min-width: 768px) {
    margin-bottom: 5px;
  }
}

.footer__link svg {
  &:hover {
    fill: $special-dark-green;
  }

  &:active {
    opacity: 0.3;
  }
}
