//Цвета:

 // first we set descriptive variables:
 $basic-black:#000;
 $basic-ligh-green:#63D1BB;
 $basic-dark-green:#56C3B2;
 $basic-white:#fff;

 // then we set functional variables:
$text_color: $basic-black;

