//Цвета:
// first we set descriptive variables:
$basic-black:#000000;
$basic-light-green:#63d1bb;
$basic-dark-green:#56c3b2;
$basic-white:#ffffff;
$basic-gray:#444444;
$basic-light-gray:#f1f1f1;
// then we set functional variables:
$text_color: $basic-black;
$text_button:$basic-gray;
$background_footer:$basic-light-gray;
