//Цвета:
// first we set descriptive variables:
$basic-black:#000000;
$pale-green:#ecf9f7;
$basic-light-green:#63d1bb;
$special-light-green:#59d5bc;
$basic-dark-green:#56c3b2;
$special-dark-green:#46c1ae;
$bright-green:#62d1ba;
$basic-white:#ffffff;
$basic-gray:#444444;
$basic-light-gray:#f1f1f1;
$special-ligh-gray:#fbfbfb;
$special-gray:#ececec;
// then we set functional variables:
$text_color: $basic-black;
$text_button:$basic-gray;
$background_footer:$basic-light-gray;
$item-border:$special-gray;
