html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  height: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
