.contacts {
  outline: 5px solid rgb(502, 2, 94);
  outline-offset: -5px;
  padding: 38px 0 62px 0;
  color: $basic-gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 768px) {
  .contacts {
    display: grid;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .contacts__title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__e-mail {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .contacts__e-mail {
    align-self: self-start;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 17px;
  }
}

.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .contacts__address {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 17px;
  }
}
