.features {
  padding: 25px 0 29px 0;

  @media (min-width: 768px) {
    padding: 62px 0 29px 0;
  }

  @media (min-width: 1150px) {
    padding: 79px 0 35px 0;
  }
}

.features__title {
  margin: 0;
}

@media (min-width: 1150px) {
  .features {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.features__item {
  position: relative;
  margin: 83px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: 400px) and (max-width: 767px) {
    flex: 0 1 45%;
  }

  @media (min-width: 768px) {
    margin: 55px 0;
  }

  &--eco::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 8px;
    width: 33px;
    height: 38px;
    background-image: url("../img/genaral/icons/flower.svg");
  }

  &--style::before {
    content: "";
    position: absolute;
    top: -54px;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/genaral/icons/style.svg");
  }

  &--like::before {
    content: "";
    position: absolute;
    top: -49px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/genaral/icons/heart.svg");
  }

  &--handmade::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 4px;
    width: 35px;
    height: 34px;
    background-image: url("../img/genaral/icons/knitted-product.svg");
  }

  &--export::before {
    content: "";
    position: absolute;
    top: -51px;
    left: -6px;
    width: 55px;
    height: 23px;
    background-image: url("../img/genaral/icons/rocked.svg");
  }

  &--gift-box::before {
    content: "";
    position: absolute;
    top: -53px;
    left: 3px;
    width: 35px;
    height: 31.33px;
    background-image: url("../img/genaral/icons/gift.svg");
  }
}

@media (min-width: 768px) {
  .features__item {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 400px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    padding-top: 42px;
  }

  @media (max-width: 767px) {
    &:last-child .features__item {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .features__list li:nth-child(1) {
    order: 1;
  }

  .features__list li:nth-child(2) {
    order: 3;
  }

  .features__list li:nth-child(3) {
    order: 5;
  }

  .features__list li:nth-child(4) {
    order: 2;
  }

  .features__list li:nth-child(5) {
    order: 4;
  }

  .features__list li:nth-child(6) {
    order: 6;
  }
}
