.reviews {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding: 29px 0 38px 0;

  @media (min-width: 768px) {
    padding: 29px 0 110px 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 17px;
    background-image: url("../img/mobile/zigzag-line-mobile.svg");
    background-repeat: repeat-x;

    @media (min-width: 768px) {
      background-image: url("../img/tablet/zigzag-line-tablet.svg");
      bottom: -5px;
    }

    @media (min-width: 1150px) {
      background-image: none;
    }
  }

  @media (min-width: 768px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 457px;
      background-image: url("../img/genaral/review.jpg");
      background-repeat: no-repeat;

      @media (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: url("../img/genaral/review@2x.jpg");
      }

      @media (min-width: 1150px) {
        left: 50px;
      }
    }
  }
}

.reviews__text {
  margin-top: 11px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $basic-gray;

  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    margin-right: 73px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .reviews__author {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.reviews__control {
  margin: 28px 0 37px 0;
}

@media (min-width: 768px) {
  .reviews__control {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (min-width: 768px) {
  .reviews__button {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 175px;
    margin-left: auto;
    margin-top: 51px;
  }
}

.reviews__title {
  margin: 0;

  @media (min-width: 768px) {
    margin: 54px 0 29px 0;
  }

  @media (min-width: 1150px) {
    margin: 50px 0 23px 0;
  }
}

@media (min-width: 768px) {
  .reviews__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
