.types-of-products {
  min-width: 380px;
  outline: 5px solid rgb(102, 51, 204);
  outline-offset: -5px;
}

.types-of-products__title {
  padding: 90px 10px 120px 10px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  outline: 5px solid rgb(502, 51, 204);
  outline-offset: -5px;
}

.types-of-products__item {
  outline: 5px solid red;
  outline-offset: -5px;
  padding: 24px 0 31px 0;
}

.types-of-products__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;
}
